#billContainer {
/*
    -fx-border-color: red;
    -fx-background-color: blue;
*/
    -fx-border-color: black;
    -fx-border-width: 1 0 0 1;
}

.boxRow {
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
}

.boxElem {
    -fx-border-color: black;
    -fx-border-width: 0 1 0 0;
    -fx-padding: 5;
    -fx-spacing: 5;
}

.boxSpaced5  { -fx-spacing: 5; }
.boxSpaced10 { -fx-spacing: 10; }

.boxImage {
    -fx-padding: 0;
}

.text-field {
    -fx-padding: 3 7 3 7;
}

.label.lblBold  { -fx-font-weight: bold; }
.lblBold .label { -fx-font-weight: bold; }

.centered { -fx-alignment: CENTER; }

.label.lblFontSize11  { -fx-font-size: 11; }
.lblFontSize11 .label { -fx-font-size: 11; }
.lblFontSize11 .check-box .text { -fx-font-size: 11; }

.lblUnderline .label  { -fx-underline: true; }
.label.lblUnderline  { -fx-underline: true; }
