#sheetBox {
    -fx-background-color: #ffffcc;
    -fx-border-color: black;
    -fx-border-width: 1 0 0 1;
}

.boxRow {
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
}

.boxElem {
    -fx-border-color: black;
    -fx-border-width: 0 1 0 0;
    -fx-padding: 5;
    -fx-spacing: 5;
}

.boxSpaced5  { -fx-spacing: 5; }
.boxSpaced10 { -fx-spacing: 10; }
.boxSpaced15 { -fx-spacing: 15; }

.boxImage {
    -fx-padding: 0;
}

.text-field {
    -fx-padding: 3 7 3 7;
}

.label.lblBold  { -fx-font-weight: bold; }
.lblBold .label { -fx-font-weight: bold; }

.centered { -fx-alignment: CENTER; }

.label.lblFontSize11  { -fx-font-size: 11; }
.lblFontSize11 .label { -fx-font-size: 11; }
.lblFontSize11 .check-box .text { -fx-font-size: 11; }

.lblUnderline .label  { -fx-underline: true; }
.label.lblUnderline  { -fx-underline: true; }

.rightBox { -fx-padding: 50; }
.rightBox .button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-alignment: CENTER;
    -fx-pref-width: 150;
    -fx-pref-height: 100;
    -fx-wrap-text: true;
}

.rumoreCell {
    -fx-background-color: black, #ffffcc;
    -fx-background-insets: 0, 0 1 1 0 ;
    -fx-padding: 5;
}
.rumoreCell45 .short-text-field .text-field {
    -fx-max-width: 40;
}